#decide-order-ctr {
    text-align: center;
}
#decide-order-deck {
    display: flex;
    margin: 0 auto;
}
#decide-order-deck .back-text {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
#order-cards {
    position: relative;
    display: inline-flex;
}
#order-cards .card:hover {
    cursor: default;
}
.card-num {
    text-align: center;
}
h3, h4{
    font-weight: normal;
}