#decide-order-ctr {
    text-align: center;
}
#decide-order-deck {
    display: flex;
    margin: 0 auto;
}
#decide-order-deck .back-text {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
#order-cards {
    position: relative;
    display: inline-flex;
}
#order-cards .card:hover {
    cursor: default;
}
.name-num {
    text-align: center;
    margin: 0px;
}
h3, h4{
    font-weight: normal;
}

.loading-txt:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}
@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
    }
}  