h2 {
    font-weight: normal;
}
.game-starting {
    font-size: 3vmin;
    background-color: #bd645d;
    width: 9em;
    height: 1.4em;
    line-height: 1.4em;
    border-radius: 3px;
    margin: 25px auto;
}