/* CARDS */
.game.card, .game.card:hover{
    transform: scale(0.8);
}
.game.card {
    margin: 0px;
}
/* OPPONENT */
.hidden-card {
    pointer-events: none;    
}
/* FIELD */
.field {
    display: grid;
    grid-template-columns: 15% max-content auto;
    align-items: center;
    grid-gap: 20px;
}
.deck {
    justify-self: end;
}
.add-field {
    justify-self: start;
}

.field-card {
    cursor: default;
}
/* PLAYER */
.month-match, .hand-card.active:not(.selected):hover, .add-field {
    color: yellow;
    cursor: pointer;
}
.month-match:hover, .selected, .selected:hover, .add-field:hover {
    color: green;
}

.player {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    grid-gap: 20px;
}
.pile {
    justify-self: end;
}