#menu-cards {
  position: relative;
  margin-top: 15pt;
}
#menu-description {
  position: relative;
  margin-top: 12pt;
}
.card {
  vertical-align: middle;
  width: 12vh;
  height: 20vh;
  background: #c44a41;
  border-style: solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
  color: #616161;
  font-size: 2vh;
  transition: width 0.2s, height 0.2s, font-size 0.2s;
}
.card-inside {
  width: 85%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover {
  color: #212121;
  width: 16.5vh;
  height: 27.5vh;
  cursor: pointer;
  font-size: 2.7vh;
}
#start {
  background: #ffffff;
  /* background-image: url("../../assets/hanafuda_logo.png");
  background-size: contain;
  background-repeat: no-repeat; */
}
#help {
  background: #ffffff;
}
#join {
  background: #ffffff;
}
  