#menu-cards {
  position: relative;
  margin-top: 15pt;
}
#menu-description {
  position: relative;
  margin-top: 12pt;
}

#start {
  background-image: url("../../assets/new_game.png");
}
#start:hover {
  background-image: url("../../assets/new_game_large.png");
}
#join {
  background-image: url("../../assets/join_game.png");
}
#join:hover {
  background-image: url("../../assets/join_game_large.png");
}
#help {
  background-image: url("../../assets/help.png");
}
#help:hover {
  background-image: url("../../assets/help_large.png");
}
  