.game-info-ctr {
  display: inline-flex;
  align-items: center;
  margin: 0 20px;
}

#name-change *{
  font-size: 15px;
  margin-top: 50px;
}

#player-list {
  display: inline-flex;
  margin: 25px;
}

.player-item {
  display: inline-block;
  margin: 16px 30px;
}
.player-status {
  height: 4px;
  width: 100%;
  margin: auto;
}
.waiting {
  background-color: #ffca28;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    width: 30%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 30%;
  }
}
.ready {
  background-color: #66bb6a;
}

#game-start-btn {
  margin: auto;
  margin-top: 20px;
}
