.game-info-ctr {
  padding: 30px;
  display: inline-flex;
  align-items: center;
}

#game-code {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 30px;
}

.player-item {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.player-ready {
  height: 4px;
  width: 100%;
  margin: auto;
  background-color: #66bb6a;
}

.player-waiting {
  height: 4px;
  width: 100%;
  margin: auto;
  background-color: #ffca28;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    width: 30%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 30%;
  }
}
