html, body {
  height: 100%;
  font-family: Varela Round;
  margin: 0;
  color: #ffffff;
  background: #353535;
}
.full_height {
  height: 100%;
  text-align: center;
}

.title {
  display: inline-block;
  margin-top: 30px;
}
.logo {
  width: 20vh;
  height: auto;
}
.title-text {
  height: 100%;
  font-size: 4vh;
  color: #ffffff;
}

.card {
  vertical-align: middle;
  width: 12vh;
  height: 20vh;
  background: #bd645d;
  border-style: solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
  color: #616161;
  font-size: 2vh;
  transition: width 0.2s, height 0.2s, font-size 0.2s;
}
.card:hover {
  color: #212121;
  background: #c44a41;
  width: 16.5vh;
  height: 27.5vh;
  cursor: pointer;
  font-size: 2.7vh;
}
.card-inside {
  color: #432D1E;
  background: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  width: 85%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: Varela Round;
  background-color: #bd645d;
  font-size: 17px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
  width: fit-content;
  cursor: pointer;
  box-shadow: -0px 8px 0px 0px #616161;
}
.btn:hover {
  background-color: #C44A41;
  box-shadow: -0px 8px 0px 0px #4d4d4d;
}
.btn:active {
  box-shadow: -0px 2px 0px 0px #212121;
  transform: translateY(4px) translateX(-1px);
}

.display-box {
  border: solid;
  border-radius: 8px;
  padding: 12px;
  color: #212121;
  border-color: #616161;
  background-color: #cbba83;
  text-align: center;
  font-size: 18px;
}

h3 {
  font-size: 15pt;
}