html, body {
  height: 100%;
  font-family: Varela Round;
  margin: 0;
  color: #ffffff;
}
.full_height {
  height: 100%;
  background: #353535;
  text-align: center;
}
.title {
  display: inline-block;
  margin-top: 30px;
}
.logo {
  width: 20vh;
  height: auto;
}
.title-text {
  height: 100%;
  font-size: 6vh;
  padding: 12px;
  color: #ffffff;
}
